/* ==============================
 common css
============================= */

a {
  text-decoration: none;
}
.title {
  text-align: center;
}
.title h4 {
  font-size: 18px;
  font-weight: 600;
  color: #e5745d;
  font-family: "Vollkorn", serif;
  position: relative;
}
.title h4::after {
  position: absolute;
  top: 6px;
  left: 41%;
  width: 40px;
  height: 2px;
  background: #E5745D;
  content: "";
}
.title h4::before {
  position: absolute;
  top: 5px;
  left: 44%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #E5745D;
  content: "";
}


.title h2 {
  font-size: 50px;
  font-weight: 600;
  color: #00413d;
  font-family: "Vollkorn", serif;
  width: 524px;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-top: 11px;
}
/* ==============================
 common css
============================= */

/* ==============================

Navber part start
================================= */
nav {
  padding: 18px 0px;
}
.navbar-nav {
  column-gap: 50px;
}

.nav-link {
  font-size: 18px;
  font-weight: 400;
  color: #00413d;
  font-family: "Jost", sans-serif;
  padding-left: 0px !important;
  padding-right: 0px !important;
  transition: 0.4s;
}
.nav-link:hover {
  color: #e5745d;
}
.navberbtn {
  background: #e5745d;
  padding: 22px 44px;
  margin: 24px 46px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  font-family: "Jost", sans-serif;
  position: relative;
}
.navberbtn::after {
  position: absolute;
  left: 7px;
  top: 5px;
  height: 60px;
  width: 184px;
  border: 1px solid rgb(255, 255, 255);
  content: "";
}
/* ==============================

Navber part end
================================= */
/* ==============================

Banner part start
================================= */

.banner {
  background: #00413d;
  padding: 220px 0px;
  position: relative;
  overflow: hidden;
}
.overly {
  width: 40%;
  height: 100%;
  background-image: url("../images/images.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: -40%;
  transition: 0.6s;
}

.banner:hover .overly {
  right: 0;
}

.banner h1 {
  font-size: 100px;
  font-weight: 700;
  color: #fff;
  font-family: "Vollkorn", serif;
}
.banner h1 span {
  display: block;
}
.banner p {
  font-size: 20px;
  font-weight: 400;
  color: #aba5a5;
  font-family: "Jost", sans-serif;
  width: 670px;
  padding-top: 14px;
  padding-bottom: 50px;
}
.banner p span {
  color: #ffffff;
  font-weight: 600;
}
.commonBtn {
  background: #e5745d;
  width: 180px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  position: relative;
}
.commonBtn::after {
  position: absolute;
  left: 4px;
  top: 4px;
  content: "";
  height: 56px;
  width: 172px;
  border: 1px solid white;
}
.commonBtn a {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  font-family: "Jost", sans-serif;
}

/* ==============================

Banner part end
================================= */
/* ==============================

Service part start
================================= */
.service {
  padding-top: 220px;
  padding-bottom: 120px;
}

.service .card {
  width: 100% !important;
}
.service .card img {
  width: 25%;
}

.service .card {
  padding: 50px 35px;
  border: 0;
  -webkit-box-shadow: 0px 7px 21px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 21px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 21px -12px rgba(0, 0, 0, 0.75);
  
}
.service .card .card-body {
  padding: 0;
}
.service .card .card-body .card-title {
  font-size: 24px;
  font-weight: 600;
  color: #00413d;
  font-family: "Vollkorn", serif;
  padding-top: 26px;
  padding-bottom: 15px;
}
.service .card .card-body .card-text {
  font-size: 16px;
  font-weight: 400;
  color: #00413d;
  font-family: "Jost", sans-serif;
  padding-bottom: 30px;
  width: 245px;
}
.service .card .card-body i {
  font-size: 25px;
  transition: .4s;
}
.service .card:hover i {
  color: red;
}


/* ==============================

Service part end
================================= */
/* ==============================

About part Start
================================= */
.about{
  padding-bottom: 120px;
}
.fristImage{
  width: 62%;
}



.title2{
  text-align: left;
}
.title2 h2{
  width: auto;
}
.title2 h4{
  margin-left: 60px;
}
.title2 h4::after {
  position: absolute;
  top: 9px;
  left: -9%;
  width: 40px;
  height: 2px;
  background: #E5745D;
  content: "";
}
.title h4::before {
  position: absolute;
  top: 7px;
  left: -13px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #E5745D;
  content: "";
}

.about p{
  font-size: 16px;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  color: #00413D;
  width: 570px;
}

/* ==============================

About part end
================================= */
